<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">

<title>Cadastre-se</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
</head>

<body>

	<form method="POST" action="/pessoa/salvar"
		enctype="multipart/form-data" th:object="${pessoa}">
		<input type="hidden" th:field="*{id}">

		<div class="form-group">
			<label for="exampleInputEmail1">NOME:</label> <input type="text"
				class="form-control" id="exampleInputEmail1" th:field="*{nome}"
				required>
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">CPF:</label> <input type="text"
				class="form-control" id="exampleInputPassword1" th:field="*{CPF}"
				required>
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">DATA DE NASCIMENTO:</label> <input
				type="date" class="form-control" id="exampleInputPassword1"
				th:field="*{data}" required>
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">ENDEREÇO:</label> <input
				type="text" class="form-control" id="exampleInputPassword1"
				th:field="*{endereco}" required>
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">LOGIN:</label> <input type="text"
				class="form-control" id="exampleInputPassword2" th:field="*{login}"
				required>
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">SENHA:</label> <input type="password"
				class="form-control" id="exampleInputPassword3" th:field="*{senha}"
				required>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<script src="/js/bootstrap.min.js">
		
	</script>

</body>

</html>